<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-success">
    <a class="navbar-brand" href="/urls">TinyApp</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/urls">My URLs</a>
        <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
      </div>
    </div>

    <% if (!username) { %>
      <form method="POST" action="/urls/login">
        <div class="navbar-nav">
          <input name="username" class="form-control" class="form-control" type="text" placeholder="username"
            aria-label="Recipient's username" aria-describedby="button-addon2" />
          <button type="submit" class="btn btn-outline-secondary">Login</button>
        </div>
      </form>

      <% } else { %>
        <form method="POST" action="/urls/logout" class="nav-item">
          <div class="navbar-nav">
            <span class="nav-link">Logged in as: <%= username %>!</span>
            <button type="submit" class="btn btn-outline-secondary">Logout</button>
          </div>
        </form>
        <% } %>
  </nav>
</header>